/* Testing 123*/

        .icon {
            background-image: url('/temp/sprite/css/svg/sprite.css-69f19c2e.svg');
        }
    
    .icon--clear-view-escapes {
        width: 142.4px;
        height: 59.53px;
        display: inline-block;
    }
    
    .icon--comment {
        width: 64px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--facebook {
        width: 21.23px;
        height: 42.01px;
        display: inline-block;
    }
    
    .icon--fire {
        width: 56px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--globe {
        width: 64px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--instagram {
        width: 42.01px;
        height: 42.01px;
        display: inline-block;
    }
    
    .icon--mail {
        width: 64px;
        height: 48px;
        display: inline-block;
    }
    
    .icon--rain {
        width: 64px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--star {
        width: 64px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--twitter {
        width: 51.78px;
        height: 42.06px;
        display: inline-block;
    }
    
    .icon--wifi {
        width: 60px;
        height: 64px;
        display: inline-block;
    }
    
    .icon--youtube {
        width: 34.75px;
        height: 42px;
        display: inline-block;
    }
